<h1>{{title}}</h1>
<p>Welcome to Video Editor</p>


Video: 

<script>

    const statusMessage = document.getElementById('statusMessage');

    const submitButton = document.querySelector('button');

    const fileInput = document.querySelector('input');
    fileInput.addEventListener('change', handleInputChange);

    const form = document.querySelector('form');
    form.addEventListener('submit', handleSubmit);

    function handleSubmit(event) {
        event.preventDefault();
        uploadFiles();
    }

    function uploadFiles() {
        const url = 'https://httpbin.org/post';
        const method = 'post';

        const xhr = new XMLHttpRequest();

        const data = new FormData(form);

        xhr.open(method, url);
        xhr.send(data);
    }

    function updateStatusMessage(text) {
        statusMessage.textContent = text;
    }

    function assertFilesValid(fileList) {
        const allowedTypes = ['image/webp', 'image/jpeg', 'image/png'];

        for (const file of fileList) {
            const { name: fileName } = file;

            if (!allowedTypes.includes(file.type)) {
            throw new Error(`❌ File "${fileName}" could not be uploaded. Only images with the following types are allowed: WEBP, JPEG, PNG.`);
            }
        }
    }

    function resetFormState() {
        submitButton.disabled = true;
        updateStatusMessage(`🤷‍♂ Nothing's uploaded`)
    }

    function handleInputChange(event) {
        resetFormState();

        try {
            assertFilesValid(fileInput.files);
        } catch (err) {
            updateStatusMessage(err.message);
            return;
        }

        submitButton.disabled = false;
    }
</script>





<div id="dropArea">
  <form>
    <input name="file" type="file" multiple>
    <button type="submit">Upload</button>
  </form>
</div>
