

<head>
  <style>
    body {
      background-color: #93ffef;
    }
  </style>
</head>


<h1>Welcome to Video Editor</h1>

<br/><br/>

<h2>Video:</h2>

<form>
    <input name="file" type="file" accept="video/*" multiple>
    <button type="button">Get previously used video</button>
</form>

<br/><br/>

<div>
    <!-- Rounded switch -->
    <label class="switch">
        Set size to 640x480:
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
</div>

<br/>

<div>
    <!-- Rounded switch -->
    <label class="switch">
        Set Duration to 5 seconds:
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
</div>

<br/><br/>

<div>
    <button type="button">Edit Video</button>
</div>

<br/>

<div>
    <button type="button">Download Video</button>
</div>

