<html lang="en">
  <head>
    <title>Video to GIF Converter</title>
  </head>
  <body>
    <center>
      <br /><br />
      <h1 class="text-4xl">GIF</h1>
      <br /><br />
      <h1>Your GIF</h1>
      <br /><br />
      <img src="{{gifDataUri}}">
    </center>
  </body>
</html>