<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GIF Conversion Status</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body class="bg-gray-800">
    <div class="grid justify-center mt-20">
      <h1 class="mb-4 text-2xl font-semibold text-white">
        GIF Conversion Status for Unique ID:
        {{uniqueID}}
      </h1>
      {{! Display the GIF here once it's available in S3 }}
      <img src="{{s3Url}}" alt="Converted GIF" />
    </div>
  </body>
</html>